/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Pretendard", "Helvetica", sans-serif;
    color: #222;
}

header {
    padding: 20px;
    margin: 0px 80px 20px 80px;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

/* 플러스 버튼 */
.plus-button {
    border: none;
    cursor: pointer;
    background: transparent;
}

.plus-button img {
    width: 30px;
}

/* 그리드 */
.posts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: flex-start;
}

/* 카드 */
.post-card {
    width: 370px;
    height: 600px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;
}

/* 이미지 + 팔레트 묶음 */
.post-top {
    display: flex;
}

/* 이미지 */
.post-img-area img {
    width: 300px;
    height: 440px;
    object-fit: cover;
}

/* 컬러 팔레트 */
.color-palette-vertical {
    display: flex;
    flex-direction: column;
}

.color-swatch-vertical {
    width: 70px;
    height: 110px;
}

/* 카드 내부 정보 */
.post-info {
    padding-top: 20px;
    padding-left: 20px;
}

.post-title {
    font-size: 20px;
    margin-bottom: 4px;
}

.post-date {
    font-size: 15px;
    color: #bbb;
    margin-bottom: 18px;
}

.post-song {
    font-size: 18px;
    color: #444;
}
