/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Pretendard", "Helvetica", sans-serif;
    color: #222;
}

header {
    padding: 20px;
    margin: 0px 80px 20px 80px;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

/* 플러스 버튼 */
.plus-button {
    border: none;
    cursor: pointer;
    background: transparent;
}

.plus-button img {
    width: 30px;
}

/* 그리드 */
.posts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: flex-start;
}

/* 카드 */
.post-card {
    width: 370px;
    height: 600px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;
}

/* 이미지 + 팔레트 묶음 */
.post-top {
    display: flex;
}

/* 이미지 */
.post-img-area img {
    width: 300px;
    height: 440px;
    object-fit: cover;
}

/* 컬러 팔레트 */
.color-palette-vertical {
    display: flex;
    flex-direction: column;
}

.color-swatch-vertical {
    width: 70px;
    height: 110px;
}

/* 카드 내부 정보 */
.post-info {
    padding-top: 20px;
    padding-left: 20px;
}

.post-title {
    font-size: 20px;
    margin-bottom: 4px;
}

.post-date {
    font-size: 15px;
    color: #bbb;
    margin-bottom: 18px;
}

.post-song {
    font-size: 18px;
    color: #444;
}

/* 모달 전체(배경) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none; /* hidden 상태 기본 */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 창(콘텐츠) */
.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  width: 280px;
}

.button-box {
    margin-top: 15px;
    gap: 6px;
}

.button-box button {
    width: 80px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #5f5f60;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-box button:hover {
    background-color: #363535;
}

